[submodule "api"]
	path = api
	url = https://github.com/mjansrud/mBot-API
[submodule "Trader"]
	path = Trader
	url = https://github.com/mjansrud/mBot-Trader
[submodule "frontend"]
	path = frontend
	url = https://github.com/mjansrud/mBot-Frontend
