# See http://help.github.com/ignore-files/ for more about ignoring files.

# Frontend
frontend/node_modules
frontent/coverage
frontend/build
frontend/backup
frontend/.idea

# Api
api/node_modules
api/.idea

# Bot
bot/node_modules
bot/.idea

# misc
.DS_Store
.env
.idea
npm-debug.log
