[submodule "api"]
	path = api
	url = https://github.com/mjansrud/mBot-API
[submodule "bot"]
	path = bot
	url = https://github.com/mjansrud/mBot-Service
[submodule "frontend"]
	path = frontend
	url = https://github.com/mjansrud/mBot-Frontend
